body{
	background-color: #eee;
	font-size: 16px;
}

h2{
	margin-bottom: 20px;
}

.margin-bottom{
	margin-bottom:  10px;
}

.max-width{
	width: 512px;
}

.text-left{
	line-height: 25px;
	font-size: 23px;
	margin-bottom: 10px;
}

#timer{
	transition: all 1s;
	
}
.timerTransition{
	transform: scale(3);
}

#hiScore{
	transition: all 2s;
}

.hiScoreTransition{
	transform: scale(1);
	background-color: yellow;
}

input{
	height: 35px;
	border-radius: 5px;
	margin-right: 5px;
}
